<div class="cards-list">
  <div *ngFor="let ticket of tickets" class="card">
    <a (click)="open(ticket)" >{{ ticket }}</a>
    <!-- <mat-icon
      placement="right"
      [ngbPopover]="popContent"
      popoverClass="my-custom-class"
      class="edit-icon"
      aria-hidden="false"
      aria-label="Example edit icon">edit
    </mat-icon> -->
  </div>
</div>
<div class="cards-composer">
  <mat-form-field>
    <mat-label>Ajouter une carte</mat-label>
    <input
      [(ngModel)]="ticketName"
      type="text"
      matInput
      (click)="hide = !hide"
      (keyup.enter)="onKeyUp()"
      [placeholder]="hide ? '' : 'Saisissez votre texte...'">
    <mat-icon (click)="onKeyUp()" matSuffix>add_circle_outline</mat-icon>
  </mat-form-field>
</div>
<ng-template #popContent>
  <app-quick-card-editor-buttons></app-quick-card-editor-buttons>
</ng-template>
