.list-group-item {
    width: 272px;
    margin: 10px 10px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background-color: #ebecf0;
    border-radius: 3px;

    h2 {
        margin-left: 10px;
    }
}

.form-control {
    width: 300px;
    margin: 10px;
    background-color: rgb(255, 227, 227);

    &:focus {
        background-color: white;
    }
}

.form-control*::placeholder {
    color: grey;
}