.list-group-item {
    margin: 10px 10px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: #B3C2F2;
    border-radius: 3px;
    border: none;

    h2 {
        max-width: fit-content;
        font-size: 16px;
    }
}

.form-control {
    width: 300px;
    margin: 10px;
    background-color: #ebecf0;

    &:focus {
        background-color: white;
    }
}

.form-control::placeholder {
    color: rgb(143, 143, 143);
    font-size: 13px;
}